body {
  background-color: #33CCCC;
}

h1 {
text-align: center;
color: #814000;
font-family: 'Roboto', sans-serif;
}

h3 {
  color: #194719;
  font-family: Arial, sans-serif;
}

#end {
  text-align: center;
  color: #001452;
  font-size: 18px;
  font-family: Times, sans-serif;
}

p {
  color: #001452;
  font-size: 18px;
  font-family: Times, sans-serif;
}

ul {
  color: #001452;
  font-size: 18px;
  font-family: Times, sans-serif;
}

#data {
  padding-left: 100px;
  padding-top: 50px;
}

#salmon {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#salmon2 {
  position: relative;
  left: 350px;
  bottom: 200px;
}

#image {
  border: 7px solid #D17519;
  border-radius: 15px;
}

#family {
  position: relative;
  left: 600px;
  bottom: 1400px;
  border: 7px solid #D17519;
  border-radius: 15px;
}

#shirt {
  position: relative;
  left: 85px;
  bottom: 700px;
  border: 7px solid #D17519;
  border-radius: 15px;
}

#cookies {
  border: 7px solid #D17519;
  border-radius: 15px;
}

#fancy {
  position: relative;
  left: 800px;
  bottom: 405px;
  border: 7px solid #D17519;
  border-radius: 15px;
}

#quote {
  text-align: center;
  padding-top: 25px;
  color: #814000;
  font-size: 19px;
  font-family: 'Roboto', sans-serif;
}

#main {
  text-align: left;
  padding: 25px;
  color: #001452;
  font-size: 16px;
  font-family: Times, sans-serif;
  width: 400px;
  margin: 50px;
  margin-left: 150px;
  border: 7px solid #D17519;
  border-radius: 15px;
}

#links {
  position: relative;
  top: -400px;
  left: 500px;
}

table, td {
  border-collapse: collapse;
  border: 1px solid black;
  padding: 5px;
}

th {
  background-color: #91C891;
  border-collapse: collapse;
  border: 2px solid black;
  padding: 5px;
}

fieldset {
  width: 200px;
  height: 260px;
  border: 1px solid black;
}

legend {
  font-weight: bold;
  padding: 2px;
  background-color: #91C891;
  border: 2px solid black;
}

#addStore {
  padding: 10px;
}
